div.menubar.span8
  ul.nav.nav-tabs
    li.active: a.home(href='#/home') Home
    li: a.products(href='#/products') Products
    li: a.orders(href='#/orders') Orders
    li: a.stats(href='#/stats') Stats