script(type='text/javascript', src='js/jquery.min.js')
script(type='text/javascript', src='js/bootstrap.min.js')
script(type='text/javascript', src='js/angular.min.js')
script(type='text/javascript', src='js/angular-resource.min.js')
script(type='text/javascript', src='js/angular-sanitize.min.js')
script(type='text/javascript', src='js/md5.js')
script(type='text/javascript', src='js/moment.min.js')
script(type='text/javascript', src='js/admin_controller.js')
script(type='text/javascript', src='js/admin_services.js')