script(type='text/ng-template', id='yo-admin-home-tpl')
  div.span8

script(type='text/ng-template', id='yo-admin-products-tpl')
  div.span8
    div.row-fluid
      div.span3: a.btn.btn-primary.pull-left(href='#/products/new') Add Product
    div.row-fluid
      div.span8
        table.table.table-striped
          thead
            tr
              th Name
              th Size
              th $/unit
          tbody
            tr(ng-repeat="item in model.products | orderBy:'name'", data-yo-admin-product-list)

script(type='text/ng-template', id='yo-admin-products-items-tpl')
  td {{item.name}}
  td: span(ng-show='item.sizes.length >= 1'){{item.sizes[0].w}}" x {{item.sizes[0].h}}"
  td(ng-show='item.sizes.length >= 1') {{item.sizes[0].price | currency}}
  td(ng-show='item.sizes.length == 0 && item.price') {{item.price | currency}}
  td: a(href='#/products/edit/{{item._id}}') Edit
  td: a(href ng-click='remove()') Remove

script(type='text/ng-template', id='yo-admin-products-new-tpl')
  div.span8
    form.form-horizontal.products
      div.control-group
        label.control-label(for='product_name') Name:
        div.controls
          input(type='text', id='product_name', ng-model='product.name', required)
      div.control-group
        label.control-label(for='product_desc') Description:
        div.controls
          input(type='text', id='product_desc', ng-model='product.desc')
      div.control-group
        label.control-label(for='product_size') Sizes:
        div.controls
          ul
            li(ng-repeat='s in sizes')
              input.sizes(type='number', min='1', inputmode='numeric', id='w', ng-model='s.w')
              span x
              input.sizes(type='number', min='1', inputmode='numeric', id='h', ng-model='s.h')
              span Price: 
              input.sizes(type='number', min='1', inputmode='numeric', id='price', ng-model='s.price')
              a(href ng-click='sizes.splice($index, 1)') [X]
            li: a(href ng-click='sizes.push({})') [Add]
      div.control-group
        label.control-label(for='product_custom_size') Allow customer to set size:
        div.controls
          input(type='checkbox', id='product_custom_size', ng-model='product.custom_size')
      div.control-group
        label.control-label(for='product_flavors') Flavors (optional, comma separated list):
        div.controls
          input(type='text', id='product_flavors', ng-model='product.flavors')
      div.control-group
        label.control-label(for='product_details') Name of additional details field:
        div.controls
          input(type='text', id='product_details', ng-model='product.details_field')
      div.control-group
        label.control-label(for='product_quantity') Default quantity:
        div.controls
          input(type='text', id='product_quantity', ng-model='product.default_quantity', required)
      div.control-group
        label.control-label(for='product_unit') Unit:
        div.controls
          input(type='text', id='product_unit', ng-model='product.unit', required)
      div.control-group
        label.control-label(for='product_price') Price:
        div.controls
          input(type='text', id='product_price', ng-model='product.price')
          h6 This field is only used to set price per sq/ft or for a non-sign product
      div.control-group
        label.control-label(for='product_sku') SKU:
        div.controls
          input(type='text', id='product_sku', ng-model='product.sku', required)
      div.control-group
        label.control-label(for='product_thumb') Thumbnail name:
        div.controls
          input(type='text', id='product_thumb', ng-model='product.thumb', required)
      div.control-group
        div.controls
          button.btn(type='submit', id='add_btn', ng-click='add()') Add
          button.btn(type='submit', id='add_btn', ng-click='cancel()') Cancel

script(type='text/ng-template', id='yo-admin-orders-tpl')
  div.span8
    div.well(ng-repeat="order in model.orders | orderBy:'created_at':true", data-yo-admin-orders-summary)

script(type='text/ng-template', id='yo-admin-orders-summary-items-tpl')
  span.pull-right.label
  h4.titledesc {{order.user.first}} {{order.user.last}} ({{order.user.email}})
    h6.subdesc {{order.status_message}}
  hr.hardline
  h6.subdesc {{formatDate(order.created_at)}} 
    a(ng-click='showDetail()') {{order.confirmation_number}}
  div.detail.hidden
    p Items purchased:
    div.items
      dl.dl-horizontal(ng-repeat='item in order.items', data-yo-admin-order-desc)
    p Total: {{order.total | currency}}
    p Credit card: {{order.stripe_token.card.type}} ending with {{order.stripe_token.card.last4}}
    a.btn.btn-primary(href, ng-hide='order.payment.paid', ng-click='captureCharge(order._id)') Charge

script(type='text/ng-template', id='yo-admin-order-desc-tpl')
  dt Name
  dd {{item.name}}
  dt Quantity
  dd {{item.quantity}}
  dt Total
  dd {{item.total | currency}}