!!! 5
html(ng-app='YoApp')
  include ../header
  body
    div.container-fluid
      include navbar
      div.row-fluid.main
        div.span3
        div.span6
          div.well
            form.form-horizontal
              div.control-group
                label.control-label(for='iFirstname') First name:
                div.controls
                  input(type='text', id='iFirstname', placeholder='first name')
              div.control-group
                label.control-label(for='iLastname') Last name:
                div.controls
                  input(type='text', id='iLastname', placeholder='last name')
              div.control-group
                label.control-label(for='iEmail') E-mail:
                div.controls
                  input(type='text', id='iEmail', placeholder='email address')
              div.control-group
                label.control-label(for='iPassword') Password:
                div.controls
                  input(type='password', id='iPassword')
              div.control-group
                div.controls
                  button.btn(type='submit', id='reg_button') Register
              div.control-group
                div.controls
                  p Already registered? 
                    a(href='#') Login here
        div.span3
    block scripts
      include scripts
