!!! 5
html(ng-app='YoApp')
  include ../header
  body
    include templates
    div.container-fluid
      include navbar
      div.row-fluid.main
        div.span8
          /* create registration form */
    block scripts
      include ../scripts
