!!! 5
html(ng-app='YoApp')
  include header
  body
    include templates
    div.container-fluid(ng-controller="yoMainCtrl")
      include navbar
      block content
    block scripts
      include scripts
