div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href="#") YoFresh
      ul.nav.pull-right
        li.dropdown
          a.dropdown-toggle(href="#", data-toggle="dropdown")
            i.icon-basket-1 Basket
          ul.dropdown-menu
            li Item 1
            li Item 2