div.navbar.navbar-fixed-top
  div.navbar-inner
    div.container
      a.brand(href="#/home") YoFresh@RodonSigns
      ul.nav.pull-right
        li.dropdown(ng-show='model.user.firstname')
          a.dropdown-toggle(href="#", data-toggle="dropdown") {{model.user.firstname}}
            i.icon-user
          ul.dropdown-menu(data-yo-user-items)

        li.dropdown(ng-show='model.basket.length>0')
          a.dropdown-toggle(href="#", data-toggle="dropdown") Purchases
            i.icon-basket-1
          ul.dropdown-menu.basket_dropdown
            li.ellipsis(ng-repeat='item in model.basket', data-yo-basket-items)
            li.divider
            li: a(href='#/checkout') Checkout