script(type='text/ng-template', id='yo-login-form-tpl')
  div.span3
  div.span6
    div.well
      div.message.alert.alert-error.hide
      form.form-horizontal
        div.control-group
          label.control-label(for='iEmail') E-mail:
          div.controls
            input(type='text', id='iEmail', inputmode='email', placeholder='email address', ng-model='email', required)
        div.control-group
          label.control-label(for='iPassword') Password:
          div.controls
            input(type='password', id='iPassword', inputmode='verbatim', ng-model='password', required)
        div.control-group
          div.controls
            button.btn(type='submit', id='login_button', ng-click='login()') Login
        div.control-group
          div.controls
            p Need to register? 
              a(href='#/register') Register here
  div.span3

script(type='text/ng-template', id='yo-register-form-tpl')
  div.span3
  div.span6
    div.well
      div.message.alert.alert-error.hide
      form.form-horizontal
        div.control-group
          label.control-label(for='iFirstname') First name:
          div.controls
            input(type='text', id='iFirstname', inputmode='verbatim', placeholder='first name', ng-model='firstname', required)
        div.control-group
          label.control-label(for='iLastname') Last name:
          div.controls
            input(type='text', id='iLastname', inputmode='verbatim', placeholder='last name', ng-model='lastname', required)
        div.control-group
          label.control-label(for='iEmail') E-mail:
          div.controls
            input(type='text', id='iEmail', inputmode='email', placeholder='email address', ng-model='email', required)
        div.control-group
          label.control-label(for='iPassword') Password:
          div.controls
            input(type='password', id='iPassword', inputmode='verbatim', ng-model='password', required)
        div.control-group
          div.controls
            button.btn(type='submit', id='reg_button', ng-click='register()') Register
        div.control-group
          div.controls
            p Back to 
              a(href='#/login') login
  div.span3

script(type='text/ng-template', id='yo-logout-tpl')
  div Thank You!

script(type='text/ng-template', id='yo-home-tpl')
  div.bs-docs-sidebar.span3
    ul.nav.nav-list.bs-docs-sidenav.affix
      li(ng-class='makeActive("D")'): a(href='#/home/D') Digital Prints
        i.icon-chevron-right
      li(ng-class='makeActive("W")'): a(href='#/home/W') Wall Art
        i.icon-chevron-right
      li(ng-class='makeActive("V")'): a(href='#/home/V') Cut Vinyl
        i.icon-chevron-right
      li(ng-class='makeActive("F")'): a(href='#/home/F') Flavors
        i.icon-chevron-right
      li(ng-class='makeActive("M")'): a(href='#/home/M') Additional Items
        i.icon-chevron-right
  div.span9(data-spy='scroll', data-target='.bs-docs-sidenav')
    div.loading Loading...
    div.media(ng-repeat='item in model.page', data-yo-product-detail-short)

script(type='text/ng-template', id='yo-product-detail-short-tpl')
  section
    a.thumb.pull-left(href='#')
      img.media-object(ng-src='{{item.thumb}}', width='120px', heigh='120px')
    div.media-body
      h4.media-heading {{item.name}}
      p {{item.desc}}
      p(ng-show='item.sizes.length > 1')
        select(ng-model='ssize', ng-options="s.w+'x'+s.h for s in item.sizes")
      p(ng-show='item.sizes.length == 1') Size: {{item.sizes[0].w}}" x {{item.sizes[0].h}}"
      p(ng-show='item.custom_size') Enter size:
        input.number(type='number', min='1', inputmode='numeric', ng-model='item.custom_w')
        span in. width
        input.number(type='number', min='1', inputmode='numeric', ng-model='item.custom_h')
        span in. height
      p Quantity: 
        input.number.quantity(type='number', min='1', inputmode='numeric', ng-model='new_quantity')
        span(ng-show='item.unit > 1') each is a set of {{item.unit}}
      p(ng-show='item.details_field') {{item.details_field}}:&nbsp;&nbsp;
        input.details(type='text', ng-model='item.details')
      p(ng-show='item.flavors && item.flavors.length > 0', data-yo-product-flavors)
      p(ng-show='item.sizes.length > 1') Price: {{ssize.price | currency}}
      p(ng-show='item.sizes.length == 1') Price: {{item.sizes[0].price | currency}}
      p(ng-show='item.sizes.length <= 0') Price: {{item.price | currency}}
      p 
        a.add-btn.btn.btn-primary(ng-click='add()') Add
        a.remove-btn.btn.hide(ng-click='remove()') Remove
    hr

script(type='text/ng-template', id='yo-user-items-tpl')
  li: a(href='#/orders') Orders
  li: a(href='#/account') Account
  li(ng-show='isAdmin()'): a(href='/admin') Admin
  li: a(href='#/logout') Logout

script(type='text/ng-template', id='yo-basket-items-tpl')
  |- {{item.name}}

script(type='text/ng-template', id='yo-checkout-tpl')
  div.span8
    div.span8
      table.table.table-striped
        thead
          tr
            th Name
            th Size
            th Quantity
            th $/unit
            th Total
        tbody
          tr(ng-repeat='item in model.basket', data-yo-checkout-items)
    div.row
      div.span6
        p
          a.btn.btn-primary(href='#/address') Checkout
          a.btn(href='#/home') Continue Shopping
          a.btn(ng-click='cancel()') Cancel

script(type='text/ng-template', id='yo-checkout-items-table-tpl')
  td {{item.name}}
  td: span(ng-show='item.default_width > 0') {{item.default_width}}" X {{item.default_height}}"
  td {{item.quantity}}
  td {{item.price | currency}}
  td {{item.total | currency}}
  td: a(href ng-click='remove()') Remove

script(type='text/ng-template', id='yo-checkout-final-tpl')
  div.span8
    div.span6.well
      div.message.alert.alert-error.hide
      div.row
        div.span6
          table.table
            tr
              td Subtotal
              td {{order.subtotal | currency}}
            tr
              td Shipping
              td {{order.shipping | currency}}
            tr
              td Tax
              td {{getTax() | currency}}
            tr
              td Total
              td {{order.total | currency}}
          div
            button.btn.btn-primary(data-yo-stripe-form) Buy

script(type='text/ng-template', id='yo-orders-tpl')
  div.span8
    table.table.table-striped
      thead
        tr
          th Confirmation #
          th Created on
          th Payment taken
          th Order Status
      tbody
        tr(ng-repeat='order in model.orders', data-yo-orders-summary)

script(type='text/ng-template', id='yo-orders-summary-items-tpl')
  td
    a(ng-click='orderDetail()') {{order.confirmation_number}}
  td {{formatDate(order.created_at)}}
  td {{order.total | currency}}
  td {{order.status_message}}

script(type='text/ng-template', id='yo-accounts-tpl')
  div.span3
  div.span6(data-yo-account-summary)
    h2 Account Information
    h4 Last updated: {{formatDate(model.account.modified_at)}}
    div.well
      div.message.alert.alert-error.hide
      div.row-fluid
        form.form-horizontal
          div.control-group
            label.control-label(for='iFirstname') First name:
            div.controls
              input(type='text', id='iFirstname', inputmode='verbatim', placeholder='first name', ng-model='model.account.firstname', required)
          div.control-group
            label.control-label(for='iLastname') Last name:
            div.controls
              input(type='text', id='iLastname', inputmode='verbatim', placeholder='last name', ng-model='model.account.lastname', required)
          div.control-group
            label.control-label(for='iEmail') E-mail:
            div.controls
              input(type='text', id='iEmail', inputmode='email', placeholder='email address', ng-model='model.account.email', required)

      div.row-fluid
        h4 Confirm Billing Address
        form.form-horizontal
          div.control-group
            label.control-label(for='bAddress') Address:
            div.controls
              input(type='text', id='bAddress', inputmode='verbatim', placeholder='street address', ng-model='model.account.address.billing.street')
          div.control-group
            label.control-label(for='bCity') City:
            div.controls
              input(type='text', id='bCity', inputmode='verbatim', placeholder='City', ng-model='model.account.address.billing.city')
          div.control-group
            label.control-label(for='bState') State:
            div.controls
              span(data-yo-state-list, state='model.account.address.billing.state')
          div.control-group
            label.control-label(for='bZip') Zip Code:
            div.controls
              input(type='text', id='bZip', inputmode='number', placeholder='Zip code', ng-model='model.account.address.billing.zip')

      div.row-fluid.shipping.hide
        h4 Confirm Shipping Address
        form.form-horizontal
          div.control-group
            label.control-label(for='sAddress') Address:
            div.controls
              input(type='text', id='sAddress', inputmode='verbatim', placeholder='street address', ng-model='model.account.address.shipping.street')
          div.control-group
            label.control-label(for='sCity') City:
            div.controls
              input(type='text', id='sCity', inputmode='verbatim', placeholder='City', ng-model='model.account.address.shipping.city')
          div.control-group
            label.control-label(for='sState') State:
            div.controls
              span(data-yo-state-list, state='model.account.address.shipping.state')
          div.control-group
            label.control-label(for='sZip') Zip Code:
            div.controls
              input(type='text', id='sZip', inputmode='number', placeholder='Zip code', ng-model='model.account.address.shipping.zip')

      div.row-fluid
        p Is shipping address same as billing?  
          input(data-yo-shipping-checkbox, type='checkbox', id='iShipping', ng-model='iShipping')

      div.row-fluid
        button.btn(type='submit', id='user_update_button', ng-click='account_update()') Save
        button.btn(type='cancel', id='user_cancel_button', ng-click='account_cancel()') Go Back
  div.span3

script(type='text/ng-template', id='yo-address-confirmation-tpl')
  div.span8
  div.span6.well
    div.message.alert.alert-error.hide
    div.row-fluid
      h4 Confirm Billing Address
      form.form-horizontal
        div.control-group
          label.control-label(for='bAddress') Address:
          div.controls
            input(type='text', id='bAddress', inputmode='verbatim', placeholder='street address', ng-model='model.account.address.billing.street')
        div.control-group
          label.control-label(for='bCity') City:
          div.controls
            input(type='text', id='bCity', inputmode='verbatim', placeholder='City', ng-model='model.account.address.billing.city')
        div.control-group
          label.control-label(for='bState') State:
          div.controls
            span(data-yo-state-list, state='model.account.address.billing.state')
        div.control-group
          label.control-label(for='bZip') Zip Code:
          div.controls
            input(type='text', id='bZip', inputmode='number', placeholder='Zip code', ng-model='model.account.address.billing.zip')

    div.row-fluid.shipping.hide
      h4 Confirm Shipping Address
      form.form-horizontal
        div.control-group
          label.control-label(for='sAddress') Address:
          div.controls
            input(type='text', id='sAddress', inputmode='verbatim', placeholder='street address', ng-model='model.account.address.shipping.street')
        div.control-group
          label.control-label(for='sCity') City:
          div.controls
            input(type='text', id='sCity', inputmode='verbatim', placeholder='City', ng-model='model.account.address.shipping.city')
        div.control-group
          label.control-label(for='sState') State:
          div.controls
            span(data-yo-state-list, state='model.account.address.shipping.state')
        div.control-group
          label.control-label(for='sZip') Zip Code:
          div.controls
            input(type='text', id='sZip', inputmode='number', placeholder='Zip code', ng-model='model.account.address.shipping.zip')

    div.row-fluid
      p Is shipping address same as billing?  
        input(data-yo-shipping-checkbox, type='checkbox', id='iShipping', ng-model='iShipping', checked)
      a.btn.btn-primary(href, ng-click='validate()') Continue

script(type='text/ng-template', id='yo-product-flavors-tpl')
  p Select Flavors:
  span(ng-repeat='flavor in flavors', data-yo-product-flavors-items)

script(type='text/ng-template', id='yo-product-flavors-items-tpl')
  label.checkbox.inline
    input(type='checkbox', ng-click='check()')
    {{flavor}}&nbsp;&nbsp;&nbsp;&nbsp;