div
  h2 Registration Confirmation
  p.
    #{name} thank you for registering with YoFresh@RodonSigns.
    YoFresh@RodonSigns provides you with the ability to quickly and efficiently
    order sign supplies for your YoFresh business. 

  p Please visit the 
    a(href='yofresh.rodonsigns.com') YoFresh@RodonSigns Store
    | and place your order today.

  p If you have any questions don't hesitate to email or call us any time.
  p Email:
    a(mailto: 'sales@rodonsigns.com') sales@rodonsigns.com
  p Phone: 215-885-5358